include ../config/config


<!DOCTYPE html>
html(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/tablet.css")
    block titulo
    title pagina
    body

        header.header
            include header.pug
                h1.header__logo LOGOTIPO
                figure.header__menu
                    img.menu__logo(src="/assets/icono hamburguesa.svg", alt="logotipo")
                

        main.main
            main_block
            figure.main__imgenes
                img.tablet__img1(src="/assets/tablet/Rectangle 1.png", alt="")
                img.tablet__img2(src="/assets/tablet/Rectangle 2.png", alt="")
                img.tablet__img3(src="/assets/tablet/Rectangle 3.png", alt="")
                img.tablet__img4(src="/assets/tablet/Rectangle 4.png", alt="")
        
        footer.footer
            include footer.pug

