//- Variables
include ../config/config
//- Mixins


<!DOCTYPE html>
html(lang="en")
    //- HEAD
    include head.pug

    //- BODY
    body

        //- HEADER
        header.header
            include header.pug
                figure.header__menu
                    img.menu__logo(src="/assets/icono hamburguesa.svg", alt="logotipo")
                h1.header__titulo LOGOTIPO

        //- MAIN
        main.main
            main_block
        
        //- FOOTER
        footer.footer
            include footer.pug





